/api/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
/api/obj/Debug/net6.0/api.AssemblyInfo.cs
/api/obj/Debug/net6.0/api.AssemblyInfoInputs.cache
/api/obj/Debug/net6.0/api.assets.cache
/api/obj/Debug/net6.0/api.csproj.AssemblyReference.cache
/api/obj/api.csproj.nuget.dgspec.json
/api/obj/api.csproj.nuget.g.props
/api/obj/api.csproj.nuget.g.targets
/api/obj/Debug/net6.0/api.GeneratedMSBuildEditorConfig.editorconfig
/api/obj/Debug/net6.0/api.GlobalUsings.g.cs
/api/appsettings.Development.json
/api/appsettings.json
/.idea/.idea.api-mentorship.dir/.idea/encodings.xml
/api/.idea/.idea.api/.idea/encodings.xml
/Folder.DotSettings.user
/.idea/.idea.api-mentorship.dir/.idea/indexLayout.xml
/api/obj/project.assets.json
/api/obj/project.nuget.cache
/api/obj/project.packagespec.json
/api/obj/rider.project.restore.info
/.idea/.idea.api-mentorship.dir/.idea/vcs.xml
